.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 70%;
  height: 60%;
  text-align: center;
  position: relative;
  z-index: 1001;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.closeButton {
  width: 40%;
  padding: 10px 20px;
  border-radius: 58px;
  border: 1px solid #de4432;
}

.modalImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.addButton {
  width: 40%;
  padding: 10px 20px;
  background-color: #de4432;
  color: white;
  border-radius: 58px;
}
